body {
   margin: 0;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
html {
   font-size: 0.6rem;
}
@media (min-width: 700px) {
   html {
      font-size: 0.7rem;
   }
}
@media (min-width: 992px) {
   html {
      font-size: 0.8rem;
   }
}
@media (min-width: 1400px) {
   html {
      font-size: 0.9rem;
   }
}
@media (min-width: 1600px) {
   html {
      font-size: 0.95rem;
   }
}
@media (min-width: 1900px) {
   html {
      font-size: 0.96rem;
   }
}
@media (min-width: 2400px) {
   html {
      font-size: 1.1rem;
   }
}
